/* MEMBERSHIP section 1 */
.MemberShip-section1 {
    width: 100%;
    min-height: 90vh;
    height: auto;
    color: black;
    display: flex;
    justify-content: center;
}

.MemberShip-section1-content {
    color: black;
    margin: 4rem 0 3rem 0;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 3em 2em;
    grid-template-areas:
        "section1-title section1-title"
        "content1 content2";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: flex-start;

    p {
        color: black;
    }

}

.section1-title {
    grid-area: section1-title;
    padding: 0.3rem 1rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: black;

}

.content1 {
    grid-area: content1;
    padding: 1.5rem;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #ffffff;
    -webkit-box-shadow: 9px 9px 15px #a8a8a8, -9px -9px 15px #ffffff;
    box-shadow: 9px 9px 15px #a8a8a8, -9px -9px 15px #ffffff;
}

.content2 {
    padding: 1rem;
    grid-area: content2;
}

/* Core Function section 2 */

.core-function-section2 {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    color: #fcfcfc;
}

.core-function-section2-content {
    margin: 5rem 0 5rem 0;
    width: 90%;
    min-height: 100%;
    height: auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.4fr 1.4fr;
    gap: 2em 2em;
    grid-template-areas:
        "core-function-title core-function-title core-function-title"
        ". . ."
        ". . .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.core-function-title {
    grid-area: core-function-title;
    margin-bottom: 2rem;
    padding: 0.3rem 1rem;
    border-bottom: 1px solid #fcfcfc;
    border-top: 1px solid #fcfcfc;
}



.section2-card {
    width: 70%;
    height: 80%;
    padding: 1.5rem;
    margin-bottom: 3rem;
    // background: rgba(102,23,203, 0.25);  
    // background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
    background-color: #fcfcfc;
    box-shadow: 5px 5px 6px -2px #5b2888;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    i {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 2.5rem;
        padding: 0 0 1rem 0;
        border-bottom: 1px solid #000000;
        color: black;
    }

    p {
        color: black;

    }
}

/* Extra section 3 */

.extra-section3 {
    width: 100%;
    height: 100vh;
}