@font-face {
	font-family: "Roboto-Thin";
	src: local("MyFont"), url(../font/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

/* ___ Nav Button style ___*/


.navButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #000000 5%, #423f3f 100%);
	background-color: #000000;
	border-radius: 6px;
	border: 2px solid #2e2c28;
	cursor: pointer;
	color: #fcfcfc;
	font-size: 1.2rem;
	padding: 8px 25px;
	text-decoration: none;

	img {
		height: 20px;
		width: 20px;
		display: inline-block;
		margin-right: 10px;
	}
}

.navButton:hover {
	background: linear-gradient(to bottom, #423f3f 5%, #000000 100%);
	background-color: #423f3f;
}

.navButton:active {
	position: relative;
	top: 1px;
}



/*____Home Button ____*/


.home-Button {
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid #fcfcfc;
	display: inline-block;
	cursor: pointer;
	color: #fcfcfc;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 9px 35px;
	text-decoration: none;
}

.home-Button:hover {
	background-color: #fcfcfc;
	color: black;
}

.home-Button:active {
	position: relative;
	top: 1px;
}

/* Membership- Button */
.btn-Membership {

	background-color: transparent;
	border-radius: 2px;
	// border: 2px solid rgba(108, 10, 128, 0.8);
	// display: inline-block;
	// cursor: pointer;
	// background: rgba(189, 16, 224, 0.25);
	// box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
	color: #fcfcfc;
	font-size: 1.3rem;
	font-weight: 900;
	padding: 9px 10px;
	text-decoration: none;
	width: 250px;
	margin: 0 auto;
}

.btn-Membership:hover {
	// background-color: #a4508b;
	// background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
// 	background-color: #bdd4e7;
// background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
background-color: #fcfcfc;

	color: black;
	font-weight: 900;
}

/* Button Media query */

@media screen and (max-width: 960px) {
	.navButton {
		display: none;
	}

	/* navButton see in header scss file */
	.home-Button {
		font-size: 0.7rem;
		padding: 10px 22px;
		text-decoration: none;
	}

}