@font-face {
  font-family: "RobotoMono-Light";
  src: local("MyFont"), url(../font/RobotoMono-Medium.ttf) format("truetype");
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'RobotoMono-Light';
}

/*__________General tag styles________*/

$h1-size: 2.2rem;
$h1-weight: 500;
$h2-size: 2.1rem;
$h2-weight: 200;
$p-size: 1.2rem;
$p-weight: 600;
$primary-color: #fdfdfd;




h1 {
  font-size: $h1-size;
  font-weight: $h1-weight;
  line-height: 3rem;
  color: $primary-color;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
  line-height: 3rem;
  color: $primary-color;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

p {
  font-size: $p-size;
  line-height: 1.5;
  color: $primary-color;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}