@font-face {
  font-family: "Roboto-Thin";
  src: local("MyFont"), url(../font/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Thin', sans-serif;
}

/*__________General tag styles________*/

$h1-size: 2.2rem;
$h1-weight: 100;
$p-size: 1.2rem;
$p-weight: 100;
$primary-color: #fdfdfd;




h1 {
  font-size: $h1-size;
  font-weight: $h1-weight;
  line-height: 3rem;
  color: $primary-color;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

p {
  font-size: $p-size;
  font-weight: $p-weight;
  line-height: 1.5;
  color: $primary-color;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}