.home-main-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
}

/*____Home body____*/

.main-section {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 3em;
    grid-auto-flow: row;
    padding: 1.4rem 0 1.4rem 0;
    justify-items: center;
    align-items: flex-start;
    grid-template-areas:
        ". .";

}


.item1 {
    height: auto;
    width: 85%;
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0.8)), to(rgba(80, 80, 80, 0.11)), color-stop(.5, #181818));

    &__header {
        margin-bottom: 15px;
    }

    &__body {
        margin-bottom: 30px;
    }

}

.item2 {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;

    .card {
        padding: 1.7rem;
        margin-bottom: 3rem;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        // background: rgba(102,23,203, 0.25);  
        // background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 23, 203, 0.8)), to(rgba(102,23,203, 0.2)), color-stop(.5,#cb218e));

        h2 {
            text-align: center;
            padding-bottom: 0.4rem;
            border-bottom: 1px solid #fcfcfc;
            margin-bottom: 2rem;
        }

        .pricing {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .price {
            border: 1px solid #fcfcfc;
            padding: 0.2rem 1rem;
            border-radius: 50px;
        }

    }
}

// .item2 {
//     height: auto;
//     width: 85%;
//     padding: 1.7rem;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-content: flex-start;
//     background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 23, 203, 0.8)), to(rgba(102, 23, 203, 0.2)), color-stop(.5, #cb218e));


//     &__header {
//         margin-bottom: 15px;
//     }

//     &__body {
//         margin-bottom: 30px;
//     }
// }



@media screen and (max-width: 960px) {

    .main-section {
        width: 90%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-areas:
            "."
            ".";
    }

    .item1 {
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        h1 {
            width: 95%;
            font-size: 0.8rem;
            line-height: 1rem
        }

        p {
            margin: 1.5rem 0 1.7rem 0;
            font-size: 0.6rem;
        }
    }
}