@font-face {
  font-family: "Roboto-mono";
  src: local("MyFont"), url(../../assets/font/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("MyFont"), url(../../assets/font/Roboto-Regular.ttf) format("truetype");
}


.navBar {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  border-bottom: 1px solid black;
  transition: opacity  0.4s;
  z-index: 1;


}
/* Handle sticky */
.sticky {
  position: sticky;
  background-color: #fcfcfc;
  top: 0;
  left: 0;
  opacity: 0.9;
 
}

.nav-container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
}

.navbar-logo {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.4rem;
  margin-right: 5rem;
  font-family: "Roboto-mono" , "sans-serif";
  // span {
  // background: #a4508b;
  // background: -webkit-linear-gradient(to right, #a4508b 0%, #5f0a87 74%);
  // background: -moz-linear-gradient(to right, #a4508b 0%, #5f0a87 74%);
  // background: linear-gradient(to right, #a4508b 0%, #5f0a87 74%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // font-weight: 900;
  // }
}


.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 3px;
  list-style: none;
  text-align: center;
  width: 85%;
  justify-content: start;


}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: #fcfcfc;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
  font-weight: 600;
  font-family: "Roboto-Regular"
}

.nav-links:hover {
  background: black;
  color: #fcfcfc;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: black;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {


  .nav-links-mobile.navButton {
    font-size: 1rem;
    padding: 10px 22px;
    text-decoration: none;
    color: #fcfcfc;
    width: auto;

    img {
      height: 20px;
      width: 20px;
      display: inline-block;
      margin-right: 15px;
    }
  }

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 65px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: #fcfcfc;
  }

  .nav-links:hover {
    background-color: #fcfcfc;
    color: black;
  }



  .menu-icon {
    
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: black;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }


  .nav-links-mobile:hover {
    background: black;
    color: #fcfcfc;
    transition: 250ms;
  }

  button {
    display: none;
  }
}