.footer-main {
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100%;
    border-top: 1px solid #fcfcfc;


    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.footer-container {
    margin: 0 auto;
    width: 80%;
    height: 100%;

}

.footer-content {
    width: 100%;
    height: 100%;
    color: #fcfcfc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 2em;
    grid-template-areas:
        ". .";
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: center;
}


.social {
    margin: 0 auto;
    font-size: 2.5rem;
    width: 40%;
    height: 100%;
    color: #fcfcfc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0.5em;
    grid-template-areas:
        ". .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    &__link:hover {
        color: #fcfcfc;
        cursor: pointer;
        background: #a4508b;
        background: -webkit-linear-gradient(to right, #a4508b 0%, #5f0a87 74%);
        background: -moz-linear-gradient(to right, #a4508b 0%, #5f0a87 74%);
        background: linear-gradient(to right, #a4508b 0%, #5f0a87 74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// background-color: #310e68;
// background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);